// general
.hide {
    display: none;
}
.loader {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.back-to-top {
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    border: 2px solid $color-grey-2;
    font-size: 23px;
    color: $color-grey-2;
    background-color: #fff;
    text-align: center !important;
    line-height: 32px !important;
    position: fixed;
    z-index: 100000;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
}
// home 4
// slider style
.home4-swiper {
    width: 100%;
    height: 70vh;
    .home4-swiper-slide {
        position: relative;
        transition: 0.5s;
        // slides
        .slide-img {
            width: 100%;
            height: 100%;
            background-size: cover;
            // background-position: center;
            object-fit: cover;
        }
        // slide text style
        .slider-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // headings style
            h1 {
                font-family: $font-heading;
                color: $color-heading;
                font-size: $font-xxl;
            }
            // description text style
            p {
                font-size: $font-xs * 2;
                color: $color-text;
                width: fit-content;
                text-align: center;
            }
            // input style
            .form-subscriber {
                width: fit-content;
                .inp-container {
                    border-radius: 27px;
                    position: relative;
                    i {
                        position: absolute;
                        color: $color-text;
                        font-size: 15px;
                        left: 15px;
                        top: 50%;
                        transform: translateY(-45%);
                    }
                    .inp {
                        background-color: #fff;
                        width: 400px !important;
                        height: fit-content !important;
                        padding: 10px 20px 10px 35px !important;
                        outline: none;
                        border: none;
                        border-radius: inherit;
                        color: $color-text;
                    }
                    ::placeholder {
                        color: $color-text;
                    }
                    .subscribe-btn {
                        width: fit-content;
                        height: fit-content !important;
                        outline: none;
                        border: none;
                        padding: 10px 20px;
                        border-radius: inherit;
                        background-color: $color-brand;
                        color: $color-grey-9;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
            @media (max-width: 992px) {
                h1 {
                    font-size: $font-xxl - $font-xl;
                }
                p {
                    font-size: $font-lg * 2 - $font-xxs;
                }
            }
            @media (max-width: 768px) {
                h1 {
                    font-size: $font-md * 2;
                }
                p {
                    font-size: $font-xl;
                }
                .inp-container {
                    i {
                        top: 22% !important;
                    }
                    .inp {
                        max-width: 330px !important;
                    }
                    .subscribe-btn {
                        position: relative !important;
                        display: block;
                        right: auto;
                        top: auto;
                        margin: 20px auto 0;
                        padding: 7.5px 20px !important;
                    }
                }
            }
        }
    }
    @media (max-width: 992px) {
        height: 60vh;
    }
    @media (max-width: 768px) {
        height: 55vh;
    }
}
// edit product tabs margin bottom on 768px break point
.nav-tabs.links .nav-link {
    @media (max-width: 768px) {
        margin-bottom: 10px !important;
    }
}
// edit image hieght from 575px to 400px
.product-img-action-wrap {
    .product-img {
        a {
            img {
                @media (min-width: 425px) and (max-width: 575px) {
                    height: 325px;
                    object-fit: contain;
                }
            }
        }
    }
}
// edit product action elements width
.product-action-1 {
    min-width: 113px !important;
    a.action-btn {
        width: 35px !important;
    }
}
// edit categories slider title
.section-title .title {
    @media (max-width: 768px) {
        width: 100% !important;
        justify-content: space-between;
    }
}
// edit slider arrow width
.home4-popular-categories {
    .slider-arrow-2 {
        max-width: 130px !important;
        @media (max-width: 768px) {
            display: none !important;
        }
    }
}
// edit banner text
.banner-img {
    .banner-text {
        h4 {
            font-size: 22px !important;
            min-height: 90px !important;
        }
        h4.organic-juice-title {
            @media (max-width: 1200px) {
                font-size: 38px !important;
            }
        }
        span {
            @media (max-width: 1200px) {
                font-size: 25px !important;
            }
        }
    }
}
// edit top products margin bottom
.top-products:not(.top-products:last-of-type) {
    margin-bottom: 30px !important;
}
// blog wide page modifications
// change display of product fillter
.shop-product-fillter {
    @media (max-width: 767px) {
        display: block;
    }
}
// blog tag list items decrease margin
.tags-list {
    li {
        margin: 0 14px 0 0 !important;
    }
}
// shop fillter page
// modify cards padding
.shop-product-fillter-header {
    .card {
        padding: 30px !important;
    }
}
// total product margin bottom
.totall-product {
    @media (max-width: 767px) {
        margin-bottom: 20px !important;
    }
}
// shop invoice 3 page & wishlist page
// hide black border top
.invoice-table {
    tbody {
        border-top-color: none !important;
    }
}
// fix style issues in responsive
.table-wishlist {
    tbody {
        border-top: none !important;
    }
    th {
        @media (max-width: 767px) {
            font-size: 15px !important;
        }
    }
    td {
        @media (max-width: 480px) {
            padding: 10px 15px !important;
        }
    }
    // whishlist buttons custom style
    .wish-price {
        font-size: 25px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
        @media (max-width: 767px) {
            font-size: 20px !important;
        }
    }
    .contact-btn {
        padding: 5px !important;
        max-width: 80px !important;
    }
    .add-to-cart-btn {
        padding: 3px 10px 0 10px !important;
        font-size: 15px !important;
        width: fit-content !important;
        margin-left: 0 !important;
    }
    .wish-remove {
        font-size: 15px !important;
        @media (max-width: 480px) {
            margin-left: -25px;
        }
    }
}
