.shop-compare {
  .product-rate {
    background-image: url(../imgs/theme/rating-stars.png);
    background-position: 0 -12px;
    background-repeat: repeat-x;
    height: 12px;
    width: 60px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
  }
}